services:
  app:
    depends_on:
       - db
    build: .
    ports:
      - "8069:8079"
    restart: always
    networks:
      - spring-mysql
  db:
    image: mysql:latest
    container_name: db
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=example
      - MYSQL_DATABASE=lngdb
      - MYSQL_USER=lngdb
      - MYSQL_PASSWORD=lngdb
    networks:
      - spring-mysql  
    ports:
      - "3306:3306"  
volumes:
  db_data:
networks:
  spring-mysql: