<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>
	<p th:text="'These are the names in the database' " />
	<table style="width: 100%">

		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>FirstName</th>
			<th>Surname</th>
			<th>Age</th>
			<th>Year</th>
		</tr>
		<tr th:each="user : ${userDetails}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.surname}"></td>
			<td th:text="${user.age}"></td>
			<td th:text="${user.year}"></td>
		</tr>
	</table>

	
</body>
</html>